---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="2023" id="2023">
  <Fragment slot="lead">
    enjoy <span class="text-primary">ur day</span> tmrw.
    hope i get to greet u again <span class="text-primary">next yr</span>.
    ill have more stuff to put here by then
  </Fragment>

</ContentSection>
