---
import ContentSection from "~/components/content-section.astro";
import Intro from "~/reactComponents/23/Intro";
import PokemonEventPics from "~/reactComponents/24/PokemonEventPics";
import Masonry from "~/reactComponents/24/Masonry";
import ScavengerHunt from '~/reactComponents/24/ScavengerHunt';
---
<ContentSection title="2025" id="2025">
    <Fragment slot="lead">
      <div>
          <Intro client:load />

          <h2 class="text-3xl font-bold mb-3">click when...</h2>
          <Masonry client:load />

          <ScavengerHunt client:load />

          <h2 class="text-3xl font-bold mt-20 mb-5">our pokemon event pics</h2>
          <PokemonEventPics client:load />
      </div>
    </Fragment>
</ContentSection>