---
import ContentSection from "~/components/content-section.astro";
import Motion from "~/reactComponents/23/Motion";
import Intro from "~/reactComponents/23/Intro";
import DateForm from "~/reactComponents/23/DateForm";
import MovieCarousel from "~/reactComponents/23/MovieCarousel";
---

<ContentSection title="2024" id="2024">
  <Fragment slot="lead">
    <div>
        <Intro client:load />
        <DateForm client:load />
        <MovieCarousel client:load />
        <!-- <Motion client:load /> -->
    </div>
  </Fragment>

</ContentSection>
