---
import ContentSection from "~/components/content-section.astro";
import Motion from "~/reactComponents/Motion";
---

<ContentSection title="2024" id="2024">
  <Fragment slot="lead">
    <div>
        happy birthday my baby :) theres noandsofijsdf asdufj happy birthday my baby :) theres noandsofijsdf asdufj 
        <Motion client:load />
    </div>
  </Fragment>

</ContentSection>
